{
  "retainLines": true,
  "compact": true,
  "comments": false,
  "presets": [
    "react-native",
  ],
  "plugins": [
    ["relay", {"compat": true, "schema": "data/schema.json"}],
  ],
  "sourceMaps": false
}
